
/*Question container*/

#question {
    font-size: 60px;
}

.option-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #32cd32;
    font-size: 60px;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #006400;
    transform: scale(1.02);
    transform: transform 100ms;
}

.option-prefix {
    padding: 25px 50px;
    color: white;
}
.option-text {
    padding: 25px;
    width: 100%;
}

/* Display */

/*#display {
    display: flex;
    justify-content: space-between;
}*/

.display-prefix {
    text-align: center;
    font-size: 2rem;
}
.display-text {
    text-align: center;
}
#progress-bar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #9acd32;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progress-full {
    height: 100%;
    background: #9acd32;
    width: 0%;
}