@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    background-color: #006400;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

/*Home page*/

.logo:hover {
    color: white;
}

.logo {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
}

.header-items {
   padding-left: 50px;
}

/*title*/

#title {
    padding-bottom: 60px;
}

.lead {
    padding: 5px;
}

/*footer*/

footer {
    background-color: #cabfc7;
    position: fixed;
    padding-top: 30px;
    bottom: 0;
    width: 100vw;
}

#play {
    background-color: azure;
    border-color: azure;
    color: black;
}